<br>
    <div class="d-flex justify-content-center">
        <div class="container">
        <div class="card text-white bg-secondary mb-5" style="max-width: 75rem;">
            <div class="card-body">
            <h1 class="card-title">Lista de Usuarios</h1>
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Teléfono</th>
                    <th>Correo</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let user of users">
                    <td>{{ user.id }}</td>
                    <td>{{ user.nombre }}</td>
                    <td>{{ user.apellido }}</td>
                    <td>{{ user.telefono }}</td>
                    <td>{{ user.correo }}</td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
        </div>
    </div>
    
